.bag-info{
    border: 2px solid rgba(252, 146, 162, 0.836);
    border-radius: 10px;
}
.bag-info img{
    width: 80%;
}
.add-btn{
    width: 100%;
    border: none;
    background-color: rgba(253, 151, 166, 0.274);
    font-size: 17px;
    padding: 10px;
    position: relative;
    bottom: 0;
}
.add-btn:hover{
    background-color: rgba(252, 146, 162, 0.637);
}